<section class="decoration">
    <h1>Shadows</h1>

    <h2>Component Shadow</h2>
    <div id="decoration-shadows-box">
        <p>
            Proin malesuada neque sit amet tincidunt auctor. Morbi congue id lorem euismod viverra. Nulla posuere sed augue id suscipit. Mauris sit amet malesuada metus, vitae ullamcorper sem. Suspendisse eu tempor turpis, sed luctus diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam vel tincidunt lorem. Pellentesque eu urna ac orci tristique molestie quis vitae urna. Aliquam pretium dolor sed bibendum cursus. Integer molestie lorem ut rhoncus aliquam. Aenean venenatis, enim non sagittis rutrum, lacus dui euismod elit, eget aliquam ipsum ligula eu turpis. Vestibulum fermentum hendrerit dui, ut feugiat ex convallis at.
        </p>
    </div>
</section>
