<div class="">
  <pl-profile-header>
    <pl-profile-header-cameo>
      <!--<h1 style="background-color:blue;">Cameo</h1>-->
      <pl-icon [svg]="'clients'" [width]="35" [height]="35"></pl-icon>
    </pl-profile-header-cameo>
    <pl-profile-header-title>Profile Title</pl-profile-header-title>
    <pl-profile-header-body>
      Profile Body
    </pl-profile-header-body>
    <pl-tabs>
      <pl-link>TabOne</pl-link>
      <pl-link>TabTwo</pl-link>
      <pl-link>TabThree</pl-link>
    </pl-tabs>
    <pl-profile-header-tabs>
      <pl-profile-header-tab>TabOne</pl-profile-header-tab>
      <pl-profile-header-tab>TabTwo</pl-profile-header-tab>
      <pl-profile-header-tab>TabThree</pl-profile-header-tab>
    </pl-profile-header-tabs>
  </pl-profile-header>
</div>
